<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>board detail</title>
</head>
<body>
<a th:text="|title: ${board.title}|"></a> <br>
<main role="main" class="container">
  <div class="starter-template">
    <div th:utext="${board.content}"></div>
  </div>
</main>
<div>
  <a th:text="|explanation: ${board.explanation}|"></a> <br>
  <a th:text="|answer: ${board.answer}|"></a> <br>
  <a th:text="|likeCount: ${board.likeCount}|"></a> <br>
  <a th:text="|HateCount: ${board.HateCount}|"></a> <br>
  <a th:text="|major: ${board.majorType}|"></a> <br>
  <a th:text="|subject: ${board.subjectType}|"></a> <br>
  <a th:text="|viewCount: ${board.viewCount}|"></a> <br>
</div>
<div>
  <form th:action="@{/ikjun/board/like/{boardId}(boardId=${board.id})}" method="post">
    <a th:text="|like = ${likeCount}|"></a>
    <button type="submit">like</button>
  </form>
  <form th:action="@{/ikjun/board/disLike/{boardId}(boardId=${board.id})}" method="post">
    <button type="submit">disLike</button>
  </form>
  <div th:if="${author} == true">
    <a th:href="@{/ikjun/board/{boardId}(boardId=${board.id})}"></a>
  </div>
</div>
</body>
</html>