<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>board detail</title>
</head>
<body>
<a th:text="|title: ${board.title}|"></a> <br>
<main role="main" class="container">
  <div class="starter-template">
    <div th:utext="${board.content}"></div>
  </div>
</main>
<div>
  <a th:text="|explanation: ${board.explanation}|"></a> <br>
  <a th:text="|answer: ${board.answer}|"></a> <br>
  <a th:text="|likeCount: ${board.likeCount}|"></a> <br>
  <a th:text="|HateCount: ${board.HateCount}|"></a> <br>
  <a th:text="|major: ${major}|"></a> <br>
  <a th:text="|subject: ${subject}|"></a> <br>
  <a th:text="|viewCount: ${board.viewCount}|"></a> <br>
</div>
<div>
  <form th:action="@{/ikjun/board/like/{boardId}(boardId=${board.id})}" method="post">
    <a th:text="|like = ${likeCount}|"></a>
    <button type="submit">like</button>
  </form>
  <form th:action="@{/ikjun/board/disLike/{boardId}(boardId=${board.id})}" method="post">
    <button type="submit">disLike</button>
  </form>
  <div th:if="${author} == true">
    <a th:href="@{/ikjun/board/{boardId}(boardId=${board.id})}"></a>
  </div>
</div>
<tr th:each="comment:${comments}">
  <a th:text="${comment.content}"></a>
  <a th:text="${comment.user.nickname}"></a>
  <br>
</tr>
<div>
  <form>
    <input type="hidden" name="userId" id="userId" th:value="${board.user.id}">
    <input type="hidden" name="boardId" id="boardId" th:value="${board.id}">
    <input type="text" name="content" id="content">
  </form>
  <button id="commentWrite">댓글 작성</button>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/commentWrite.js"></script>
</body>
</html>