<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>writeForm</title>
</head>
<body>
  <form>
    <input type="text" name="title" id="title" placeholder="title"> <br>
    <input type="text" name="content" id="content" placeholder="content"> <br>
    <input type="text" name="answer" id="answer" placeholder="answer"> <br>
    <input type="text" name="explanation" id="explanation" placeholder="explanation"> <br>
    <input type="text" name="major" id="major" placeholder="major"> <br>
    <input type="text" name="subject" id="subject" placeholder="subject"> <br>
    <select name="unlockStar" id="unlockStar">
      <option selected value="">별점 선택</option>
      <option value="1">1</option>
      <option value="0">0</option>
    </select>
  </form>
<button id="write">write</button>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="/writeForm.js"></script>
</body>
</html>