<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>user detail</title>
</head>
<body>
<a sec:authentication="principal.username"></a> <br>
<a sec:authentication="principal.password"></a> <br>
<a sec:authentication="principal.email"></a> <br>
<a sec:authentication="principal.nickname"></a> <br>
<tbody>
<tr th:each="like:${likes}">
  <td><a th:href="@{/ikjun/board/{boardId}(boardId=${like.board.id})}" th:text="${like.board.title}"></a></td>
  <td><a th:text="${like.board.majorType}"></a></td>
  <td><a th:text="${like.board.user.nickname}"></a></td>
  <br>
</tr>
</tbody>
<form>
  <input type="text" id="nickname" class="nickname">
</form>
<button id="editNickname">edit</button>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/editUser.js"></script>
</html>