<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div sec:authorize-expr="isAuthenticated()">
    <a sec:authentication="principal.nickname" th:href="@{/ikjun/user/myprofile}"></a>
  </div>
  <h2>ikjun</h2>
<a href="/ikjun/loginForm">로그인</a>
<div sec:authorize-expr="isAuthenticated()">
  <a th:href="@{/logout}">로그아웃</a>
  <a th:href="@{/ikjun/board/writeForm}">글쓰기</a>
</div>
  <form th:action="@{/ikjun}" method="get">
    <select name="majorType" id="majorType">
      <option selected value="">학과</option>
      <option th:each="mType:${majorTypes}" th:text="${mType.value}" th:value="${mType.key}"></option>
    </select>
    <select name="subjectType" id="subjectType">
      <option selected value="">과목</option>
      <option th:each="sType:${subjectTypes}" th:text="${sType.value}" th:value="${sType.key}"></option>
    </select>
    <input type="text" name="keyword" th:value="${keyword}">
    <button type="submit">search</button>
  </form>
<div>
<tbody>
<tr th:each="board:${boards}">
  <td><a th:href="@{/ikjun/board/{boardId}(boardId=${board.id})}" th:text="${board.title}"></a></td>
  <td><a th:text="${board.majorType}"></a></td>
  <td><a th:text="${board.user.nickname}"></a></td>
  <br>
</tr>
</tbody>
</div>
</body>
</html>