<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>loginForm</title>
</head>
<body>
<h1>login page</h1>
<hr>
<form action="/ikjun/login" method="post">
  <input type="text" name="username" placeholder="username"> <br>
  <input type="text" name="password" placeholder="password"> <br>
  <button>login</button>
</form>
<a href="/oauth2/authorization/google">google login</a>
<a href="/oauth2/authorization/naver">naver login</a>
<a href="/ikjun/registerForm">register</a>
</body>
</html>