<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>register</title>
</head>
<style>
.id_ok{
color:#008000;
display: none;
}

.id_already{
color:#6A82FB;
display: none;
}
</style>
<body>
<h1>register page</h1>
<hr>
<form>
  <div>
    <input type="text" name="username" id="username" placeholder="username">
    <button id="usernameCheck" class="usernameCheck" value="N">중복 확인</button>
    <br>
  </div>
  <div>
    <input type="text" name="password" id="password" placeholder="password"> <br>
  </div>
  <div>
    <input type="text" name="email" id="email" placeholder="email">
    <button id="emailCheck" class="emailCheck" value="N">중복 확인</button> <br>
  </div>
  <div>
    <input type="text" name="nickname" id="nickname" placeholder="nickname">
    <button id="nicknameCheck" class="nicknameCheck" value="N">중복 확인</button> <br>
  </div>
</form>
<button id="register">register</button>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/registerForm.js"></script>
<script type="text/javascript" src="/overlapCheck.js"></script>
</body>
</html>